#id
{
    width: 100%;
    height: auto;
    background-color: #2574A9;
}
#liv
{
    width: 100%;
    height: auto;
    background-color: #9A12B3;
}
#pay
{
    width: 100%;
    height: auto;
    background-color: #DB0A5B;
}
#visa
{
    display:
}
#mc
{
    display:list-item
}